/* Thème orange */
:root
{
	--couleur-ap-base: #ff5505;
	--couleur-ap-secondaire: #083f22;
	--couleur-ap-neutre: #f5f5f7;
	
	--coleur-texte-base: #ffffff;
	--couleur-texte-neutre: #000000;
	
	
}

body
{
	width:50%;
	margin:auto;
	display:flex;
	flex-direction:column;
	background: var(--couleur-ap-base);
	color: var(--couleur-ap-neutre);
	font-family: "arial";
	padding-bottom:28pt;
}

a
{
	color: var(--couleur-ap-neutre);
	font-weight:bold;
}

#nom
{
	color: var(--coleur-texte-base);
	font-family: "Publish Gothic Condensed", sans-serif;
	font-weight: 1000;
	text-transform: uppercase;
	background-image: url("images/photo.jpg");
	background-size:cover;
	background-position: 50% 25%;
	padding:20px;
	height:400px;
	
	border-radius: 0px 0px 10px 10px;
	
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
}

#nom #logo
{
	width:20%;
	margin-bottom:auto;
}

#nom h1
{
	font-size:45px;
}

#nom h1, #nom h2
{
	margin-left:20px;
	width:50%;
}

.hl-dark
{
	background-color: var(--couleur-ap-secondaire);
}

h2
{
	text-transform: uppercase;
	font-size: 22pt;
	color: var(--couleur-ap-neutre);
}

.date, .legende, summary
{
	font-size: 8pt;
}

#presentation
{
	color: var(--couleur-ap-neutre);
	font-weight: 500;
}

#presentation.lede
{
	font-style:italic;
}

div.actualite, #lettre, #pied-de-page
{
	margin-top:14pt;
	margin-bottom:14pt;
	padding-top:14pt;
	padding-bottom:14pt;
	background: var(--couleur-ap-neutre);
	color: var(--couleur-texte-neutre);
	border-radius: 10px;
}

#lettre p, #pied-de-page p
{
	width:90%;
	margin:auto;
	margin-top:14pt;
	margin-bottom:14pt;
	text-align:justify;
	text-indent: 28pt;
	font-style: oblique;
}

div.actualite
{
	overflow: auto;
}

div.actualite h3
{
	width:90%;
	margin:auto;
	margin-top:14pt;
}

div.actualite p, div.actualite details
{
	width:90%;
	margin:auto;
	margin-top:14pt;
	margin-bottom:14pt;
	text-align:justify;
}

div.actualite details p
{
	width:100%;
	margin:auto;
	margin-top:14pt;
	margin-bottom:14pt;
}

div.actualite p a, div.actualite aside a
{
	color: var(--couleur-texte-neutre);
	font-weight:bold;
}

aside
{
	float: right;
	margin-right:20px;
	margin-left:20px;
	text-align:right;
	width: 40%;
}

aside.photo
{
	float: left;
	margin-right:20px;
	margin-left:20px;
	text-align:left;
	width:40%;
}

div.actualite aside
{
	margin-top:14pt;
}

aside img
{
	width:100%;
	margin:auto;
}

#lettre p.premiere-ligne,  #pied-de-page p
{
	text-indent: 0pt;
}

summary
{
	cursor:pointer;
	font-weight:bold;
}
